body {
  background-color: lightblue;
}

img {
  width: 25%;
  height: 25%;
}

#character-container {
  padding-bottom: 10px;
}

#level-display {
  padding-top: 10px;
  font-weight: bold;
}

select {
  font-size: 15px;
}